@import '../../styles/var';

.user_info_block {
  margin-bottom: 16px;
}

.user_name {
  @include font-size($h4-font-sizes);
  color: $secondary-color;
  margin: 0;
}

.user_info {
  @include font-size($p2-font-sizes);
  padding: 0;
  margin: 0;
  color: $text-color-transparent;
}
